@charset "UTF-8";
body {
  background: url("../../../img/bgDark.jpg"); }

.dev {
  border: 1px solid red; }

.focus-border {
  border-radius: 25px;
  box-shadow: 0 0 10px 2px #99ebf0; }

.center {
  text-align: center; }

p {
  padding: 0 1em !important; }

.deck-container {
  font-size: 1.75em;
  color: #d9d9d9;
  width: 1024px;
  height: 768px;
  padding: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -384px 0 0 -512px; }
  .deck-container > .slide {
    padding: 0 !important; }
    .deck-container > .slide .deck-before, .deck-container > .slide .deck-previous {
      opacity: 0.4; }
      .deck-container > .slide .deck-before:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-before:not(.deck-child-current) .deck-previous, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-previous {
        opacity: 1; }
    .deck-container > .slide .deck-child-current {
      opacity: 1; }
  .deck-container .slide h1, .deck-container .slide h2, .deck-container .slide h3, .deck-container .slide h4, .deck-container .slide h5, .deck-container .slide h6 {
    font-family: 'Mate SC', serif;
    font-variant: small-caps; }
    .deck-container .slide h1 code, .deck-container .slide h2 code, .deck-container .slide h3 code, .deck-container .slide h4 code, .deck-container .slide h5 code, .deck-container .slide h6 code {
      font-variant: normal;
      font-weight: normal; }
  .deck-container .slide h4 {
    font-variant: normal; }
  .deck-container .slide h1 {
    color: #15a4d4; }
  .deck-container .slide h2 {
    color: #31bceb;
    border-bottom: 0; }
    .cssreflections .deck-container .slide h2 {
      line-height: 1; }
  .deck-container .slide h3 {
    color: #60cbef; }
  .deck-container .slide pre {
    border-color: #cde;
    background: url("../../../img/bglight.jpg");
    position: relative;
    z-index: auto;
    /* http://nicolasgallagher.com/css-drop-shadows-without-images/ */ }
    .borderradius .deck-container .slide pre {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
    .csstransforms.boxshadow .deck-container .slide pre > :first-child:before {
      content: "";
      position: absolute;
      z-index: -1;
      background: url("../../../img/bglight.jpg");
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
    .csstransforms.boxshadow .deck-container .slide pre:before, .csstransforms.boxshadow .deck-container .slide pre:after {
      content: "";
      position: absolute;
      z-index: -2;
      bottom: 15px;
      width: 50%;
      height: 20%;
      max-width: 300px;
      -webkit-box-shadow: 0 15px 10px 0px rgba(0, 0, 0, 0.7);
      -moz-box-shadow: 0 15px 10px 0px rgba(0, 0, 0, 0.7);
      box-shadow: 0 15px 10px 0px rgba(0, 0, 0, 0.7); }
    .csstransforms.boxshadow .deck-container .slide pre:before {
      left: 10px;
      -webkit-transform: rotate(-3deg);
      -moz-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
      -o-transform: rotate(-3deg);
      transform: rotate(-3deg); }
    .csstransforms.boxshadow .deck-container .slide pre:after {
      right: 10px;
      -webkit-transform: rotate(3deg);
      -moz-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
      -o-transform: rotate(3deg);
      transform: rotate(3deg); }
    .deck-container .slide pre code {
      color: #39404e; }
      .deck-container .slide pre code .highlight {
        background: #ff0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 1px 1px 2px 0px black;
        -moz-box-shadow: 1px 1px 2px 0px black;
        box-shadow: 1px 1px 2px 0px black;
        padding: 0px 6px 2px; }
      .deck-container .slide pre code .focus {
        color: #b30000; }
  .deck-container .slide code {
    color: #a8bed6; }
  .deck-container .slide blockquote {
    font-family: Georgia, serif;
    font-size: 2em;
    padding: 1em 2em .5em 2em;
    color: #262626;
    background: url("../../../img/bglight.jpg");
    position: relative;
    border: 1px solid #cde;
    z-index: auto; }
    .borderradius .deck-container .slide blockquote {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
    .boxshadow .deck-container .slide blockquote > :first-child:before {
      content: "";
      position: absolute;
      z-index: -1;
      background: #fff;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
    .boxshadow .deck-container .slide blockquote:after {
      content: "";
      position: absolute;
      z-index: -2;
      top: 10px;
      bottom: 10px;
      left: 0;
      right: 50%;
      -moz-border-radius: 10px/100px;
      border-radius: 10px/100px;
      -webkit-box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.6);
      box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.6); }
    .deck-container .slide blockquote p {
      margin: 0; }
    .deck-container .slide blockquote cite {
      font-size: .5em;
      font-style: normal;
      font-weight: bold;
      color: #7d000b; }
    .deck-container .slide blockquote:before {
      content: "“";
      position: absolute;
      top: 0;
      left: 0;
      font-size: 5em;
      line-height: 1;
      color: #86a3a3;
      z-index: 1; }
  .deck-container .slide ::-moz-selection {
    background: #91222f;
    color: #fff; }
  .deck-container .slide ::selection {
    background: #91222f;
    color: #fff; }
  .deck-container .slide a, .deck-container .slide a:hover, .deck-container .slide a:focus, .deck-container .slide a:active, .deck-container .slide a:visited {
    color: #599;
    text-decoration: none; }
  .deck-container .slide a:hover, .deck-container .slide a:focus {
    text-decoration: underline; }
  .deck-container .deck-prev-link, .deck-container .deck-next-link {
    background: #fff;
    opacity: 0.5; }
    .deck-container .deck-prev-link, .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-prev-link:active, .deck-container .deck-prev-link:visited, .deck-container .deck-next-link, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus, .deck-container .deck-next-link:active, .deck-container .deck-next-link:visited {
      color: #599; }
    .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus {
      opacity: 1;
      text-decoration: none; }
  .deck-container .deck-status {
    font-size: 0.6666em; }
  .deck-container.deck-menu .slide {
    background: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    .rgba .deck-container.deck-menu .slide {
      background: rgba(0, 0, 0, 0.1); }
    .deck-container.deck-menu .slide.deck-current, .rgba .deck-container.deck-menu .slide.deck-current, .no-touch .deck-container.deck-menu .slide:hover {
      background: #fff; }

h1 {
  font-size: 3em !important;
  margin-top: -0.5em !important; }

#title-slide h2 {
  position: absolute;
  top: 50%;
  font-size: 1em;
  text-align: center;
  width: 100%;
  color: #ccc; }
